@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "iransans";
  src: url("../utils/FontsFree-Net-ir_sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "iransans", "times new roman", "sans-serif", "arial";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
